In [17]:
import requests
import pandas as pd
import numpy as np

In [7]:
post_codes_osl = pd.read_csv('post_codes.csv', dtype={'post_code':str}).set_index('post_code', drop=True)

In [9]:
table_json = {
    "query": [
        {
            "code": "Region",
            "selection": {
                "filter": "agg_single:KommGjeldende",
                "values": [
                    "0001",
                    "0214",
                    "0219",
                    "0220",
                    "0301"
                ]
            }
        },
        {
            "code": "HusholdType",
            "selection": {
                "filter": "item",
                "values": [
                    "0000"
                ]
            }
        },
        {
            "code": "Tid",
            "selection": {
                "filter": "item",
                "values": [
                    "2017"
                ]
            }
        }
    ],
    "response": {
        "format": "json-stat2"
    }
}

In [10]:
res = requests.post(url='https://data.ssb.no/api/v0/no/table/06944/', json=table_json)

In [12]:
res = res.json()

In [13]:
res

{'class': 'dataset',
 'label': '06944: Inntekt for husholdninger, etter region, husholdningstype, statistikkvariabel og år',
 'source': 'Statistisk sentralbyrå',
 'updated': '2019-02-22T07:00:00Z',
 'id': ['Region', 'HusholdType', 'ContentsCode', 'Tid'],
 'size': [4, 1, 3, 1],
 'dimension': {'Region': {'label': 'region',
   'category': {'index': {'0214': 0, '0219': 1, '0220': 2, '0301': 3},
    'label': {'0214': 'Ås',
     '0219': 'Bærum',
     '0220': 'Asker',
     '0301': 'Oslo kommune'}},
   'link': {'describedby': [{'extension': {'Region': 'urn:ssb:classification:klass:104 urn:ssb:classification:klass:131 urn:ssb:classification:klass:103'}}]}},
  'HusholdType': {'label': 'husholdningstype',
   'category': {'index': {'0000': 0},
    'label': {'0000': 'Alle husholdninger'}}},
  'ContentsCode': {'label': 'statistikkvariabel',
   'category': {'index': {'SamletInntekt': 0,
     'InntSkatt': 1,
     'AntallHushold': 2},
    'label': {'SamletInntekt': 'Samlet inntekt, median (kr)',
     'InntSkatt': 'Inntekt etter skatt, median (kr)',
     'AntallHushold': 'Antall husholdninger'},
    'unit': {'SamletInntekt': {'base': 'kr', 'decimals': 0},
     'InntSkatt': {'base': 'kr', 'decimals': 0},
     'AntallHushold': {'base': 'husholdninger', 'decimals': 0}}},
   'link': {'describedby': [{'extension': {'SamletInntekt': 'urn:ssb:conceptvariable:vardok:570',
       'InntSkatt': 'urn:ssb:conceptvariable:vardok:2'}}]}},
  'Tid': {'label': 'år',
   'category': {'index': {'2017': 0}, 'label': {'2017': '2017'}}}},
 'value': [705000,
  552000,
  8192,
  832000,
  626000,
  53079,
  853000,
  644000,
  24869,
  604000,
  460000,
  331880],
 'role': {'time': ['Tid'], 'metric': ['ContentsCode'], 'geo': ['Region']},
 'version': '2.0'}

In [41]:
columns = pd.Series(res['dimension']['ContentsCode']['category']['index']).sort_values()

In [43]:
column_values = list(columns.index)

In [49]:
index = pd.Series(res['dimension']['Region']['category']['index']).sort_values()

In [50]:
index_values = list(index.index)

In [51]:
pd.DataFrame(np.array(res['value']).reshape((4, 3)), index=index_values, columns=column_values)

      SamletInntekt  InntSkatt  AntallHushold
0214         705000     552000           8192
0219         832000     626000          53079
0220         853000     644000          24869
0301         604000     460000         331880

In [8]:
post_codes_osl.head()

               lat      lng municipality neighborhood_name  population
post_code
0001       59.9116  10.7545         Oslo           Sentrum         NaN
0009       59.9100  10.7500         Oslo               NaN         NaN
0010       59.9171  10.7274         Oslo           Sentrum         NaN
0014       59.9116  10.7545         Oslo               NaN         NaN
0015       59.9061  10.7392         Oslo           Sentrum         NaN